extends layout

block nav
  li
    a(href='/') Accueil
  li
    a(href='/faq') Règles / FAQ
  li
    a(href='/contact') Contact

block content
  table.table
    thead
      tr
        th Utilisateur
        th Prénom
        th Nom
        th Age
        th Adresse
        th Code postal
        th Ville
        th Pays
        th Points
    tbody
      each user in users
        tr
          td #{user.username}
          td #{user.firstname}
          td #{user.lastname}
          td #{user.age}
          td #{user.address}
          td #{user.postcode}
          td #{user.city}
          td #{user.country}
          td #{user.nbPoint}
